// https://tailwindcss.com/docs/font-family

page-content-max-width = 1000px

page-content-box()
    margin: 0 auto
    max-width: 1000px

article-content-padding()
    padding: 60px 40px
    overflow: hidden
    position: relative